<!DOCTYPE html>
<html>
    <head>
        <title>Funder Site</title>
    </head>
    <body>
        <h1>Funder Site</h1>
        <p>Welcome to the Funder Site!</p>

        <ul>
            <li>Track your wealth</li>
            <li>Analyze your expenses</li>
            <li>Plan your investments</li>
        </ul>
<h2>Features</h2>

<ul>
    <li>Configure your cash, pension, investment and real estate accounts</li>
    <li>Import monthly account statements</li>
    <li>Handle multiple currency, calculate every amount to your base currency.</li>
    <li>Your finances, your data. Your data never leaves your computer</li>
    <li>Backup your database</li>
    <li>Set up rules to automatically categorize your expenses</li>
    <li>For partners: keep track of the shared expenses and the mutual balance</li>
</ul>
    </body>
</html>